PORT=3001
FRONTEND_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://youruser:yourpassword@cluster0.xxxxx.mongodb.net/Nexus?retryWrites=true&w=majority
JWT_SECRET=plaxustalk_super_secret_key_change_me_min_32_chars
ADMIN_EMAIL=your@email.com
PINATA_API_KEY=your_pinata_api_key
PINATA_SECRET_KEY=your_pinata_secret_key
